.container {
    padding: var(--s2);
    display: flex;
    flex-direction: column;
    gap: var(--s1);
    text-align: center;
}

.container .h4 {
    text-align: center;
    font-size: var(--s3);  
    margin-bottom: var(--s1);
}